form {
  width: 50%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  margin: 2vh 25%;
  background-color: #f3f3f3;
}

.formTitle {
  color: #a9262c;
}

.formField {
  color: #a9262c;
  font-weight: bold;
  margin-right: 0.5vw;
}

.formInput {
  width: 10vw;
  height: 2vh;
  margin-bottom: 1vh;
  background-color: #f3f3f3;
  border: black solid 1.5px;
}

.idOrderTxt {
  color: #a9262c;
  font-weight: bold;
}

.formBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formBtn {
  color: #a9262c;
  font-weight: bold;
  font-size: 0.9rem;
  height: 3vh;
  padding: 0vh 1.5vh;
  background-color: rgb(223, 223, 223);
  margin: 1.5vh;
  border: black solid 1.5px;
}
